In [53]:
#importing dependencies
import pandas as pd
import os
import numpy as np

#Dependencies for sql
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

In [54]:
file = os.path.join('ht_data.csv')

In [55]:
file_df = pd.read_csv(file)
organized_df = file_df.dropna(axis='columns').sort_values('yearOfRegistration')
little_df = organized_df.drop(['isAbduction', 'majorityStatus', 'RecruiterRelationship', 'recruiterRelationIntimatePartner', 'recruiterRelationFriend', 'recruiterRelationFamily', 'recruiterRelationOther', 'recruiterRelationUnknown', 'isForcedMarriage', 'isForcedMilitary', 'isOrganRemoval', 'typeOfSexProstitution', 'typeOfSexPornography', 'typeOfSexRemoteInteractiveServices','typeOfSexPrivateSexualServices', 'typeOfSexConcatenated'], axis=1)
#little_df = little_df.replace(to_replace=[-99,'-99'], value=np.nan)

In [56]:
little_df = little_df.rename(columns={'yearOfRegistration': 'Year Identified',
 'Datasource': 'Means_of_Identification',
 'gender': 'Gender',
 'ageBroad': 'Age_Range',
 'majorityStatusAtExploit': 'Age_at_Exploitaion',
 'majorityEntry': 'Age_Grooming_Process',
 'citizenship': 'Citizenship',
 'meansOfControlDebtBondage': 'Method of Control: Debt Bondage',
 'meansOfControlTakesEarnings': 'Method of Control: Earnings Taken',
 'meansOfControlRestrictsFinancialAccess': 'Method of Control: Restricted Financial Access',
 'meansOfControlThreats': 'Method of Control: Threats',
 'meansOfControlPsychologicalAbuse':'Method of Control: Psychological Abuse',
 'meansOfControlPhysicalAbuse': ' Method of Control: Physical Abuse',
 'meansOfControlSexualAbuse': 'Method of Control: Sexual Abuse',
 'meansOfControlFalsePromises': 'Method of Control: False Promises',
 'meansOfControlPsychoactiveSubstances': 'Method of Control: Psychoactive Substances',
 'meansOfControlRestrictsMovement':'Method of Control: Restricted Movement ',
 'meansOfControlRestrictsMedicalCare':'Method of Control: Restricted Medical Care ',
 'meansOfControlExcessiveWorkingHours':'Method of Control: Extreme Work Hours',
 'meansOfControlUsesChildren':'Method of Control: Children of Victim',
 'meansOfControlThreatOfLawEnforcement':'Method of Control: Fear of Law Enforcement ',
 'meansOfControlWithholdsNecessities':'Method of Control: Witheld Necesities',
 'meansOfControlWithholdsDocuments':'Method of Control: Documentation Witheld',
 'meansOfControlOther':'Method of Control: Other',
 'meansOfControlNotSpecified':'Method of Control: Unspecified ',
 'meansOfControlConcatenated':'Method of Control: Multiple Methods of Control',
 'isForcedLabour': 'Labor Trafficking',
 'isSexualExploit': 'Sex Trafficking' ,
 'isOtherExploit': 'Human Trafficking: Other',
 'isSexAndLabour': 'Sex and Labour Trafficking',
 'typeOfExploitConcatenated': 'Multiple Types of Exploitation',
 'typeOfLabourAgriculture': 'Type: Agriculture',
 'typeOfLabourAquafarming': 'Type: Aquafarming',
 'typeOfLabourBegging': 'Type: Begging',
 'typeOfLabourConstruction': 'Type: Construction Labour',
 'typeOfLabourDomesticWork': 'Type: Domestic Work',
 'typeOfLabourHospitality':'Type: Hospitality Labour',
 'typeOfLabourIllicitActivities': 'Type: Illicit Activites',
 'typeOfLabourManufacturing': 'Type: Manufacturing',
 'typeOfLabourMiningOrDrilling': 'Type: Mining or Drilling',
 'typeOfLabourPeddling': 'Type: Peddling',
 'typeOfLabourTransportation':'Type: Transportation',
 'typeOfLabourOther':'Type: Other',
 'typeOfLabourNotSpecified': 'Type: Unspecified',
 'typeOfLabourConcatenated': 'Type: Multiple',
'CountryOfExploitation': 'Country of Exploitation'})
little_df

,Year Identified,Means_of_Identification,Gender,Age_Range,Age_at_Exploitaion,Age_Grooming_Process,Citizenship,Method of Control: Debt Bondage,Method of Control: Earnings Taken,Method of Control: Restricted Financial Access,...,Type: Hospitality Labour,Type: Illicit Activites,Type: Manufacturing,Type: Mining or Drilling,Type: Peddling,Type: Transportation,Type: Other,Type: Unspecified,Type: Multiple,Country of Exploitation
0,2002,Case Management,-99,-99,-99,-99,-99,-99,-99,-99,...,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99
744,2002,Case Management,Female,24--26,-99,-99,MD,-99,-99,-99,...,0,0,0,0,0,0,0,0,-99,-99
745,2002,Case Management,Female,24--26,-99,-99,MD,-99,-99,-99,...,0,0,0,0,0,0,0,0,-99,-99
746,2002,Case Management,Female,24--26,-99,-99,MD,-99,-99,-99,...,0,0,0,0,0,0,0,0,-99,-99
747,2002,Case Management,Female,24--26,-99,-99,MD,-99,-99,-99,...,0,0,0,0,0,0,0,0,-99,-99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54583,2018,Case Management,Female,-99,Minor,-99,KH,0,0,-99,...,-99,-99,-99,-99,-99,-99,-99,-99,-99,KH
54582,2018,Case Management,Female,-99,Minor,-99,KH,0,0,-99,...,-99,-99,-99,-99,-99,-99,-99,-99,-99,KH
54581,2018,Case Management,Female,-99,Minor,-99,KH,0,0,-99,...,-99,-99,-99,-99,-99,-99,-99,-99,-99,KH
54588,2018,Case Management,Female,-99,Minor,-99,KH,0,0,-99,...,-99,-99,-99,-99,-99,-99,-99,-99,-99,KH
55433,2018,Case Management,Male,-99,Adult,-99,KH,0,0,-99,...,-99,-99,-99,-99,-99,-99,-99,-99,-99,KH

In [57]:
#establish SQL Connection
pg_user = 'postgres'
pg_password = 'Dhanista#4'
db_name = 'ETL-Project'

connection_string = f"{pg_user}:{pg_password}@localhost:5433/{db_name}"
engine = create_engine(f'postgresql://{connection_string}')

In [58]:
#income_q = Session.query(country_income.countrycode, countries.country_name, country_income.incomelevel).filter(country_income.countrycode==countries.country_code).all()

In [59]:
file_codes = os.path.join('countries_codes_and_coordinates.csv')
file_codes_df = pd.read_csv(file_codes)
file_codes_df.drop(['Numeric code', 'Latitude (average)', 'Longitude (average)'], axis = 1)
file_codes_df.dtypes

Country                object
Alpha-2 code           object
Alpha-3 code           object
Numeric code           object
Latitude (average)     object
Longitude (average)    object
dtype: object

In [60]:
#alpha_list_a = file_codes_df["Alpha-2 code"].tolist()

#alpha_list_b = file_codes_df["Alpha-3 code"].tolist()

#a= map(alpha_list_a[1],'B')
#print(a)

In [61]:
#alpha_list_b

In [62]:
little_df

,Year Identified,Means_of_Identification,Gender,Age_Range,Age_at_Exploitaion,Age_Grooming_Process,Citizenship,Method of Control: Debt Bondage,Method of Control: Earnings Taken,Method of Control: Restricted Financial Access,...,Type: Hospitality Labour,Type: Illicit Activites,Type: Manufacturing,Type: Mining or Drilling,Type: Peddling,Type: Transportation,Type: Other,Type: Unspecified,Type: Multiple,Country of Exploitation
0,2002,Case Management,-99,-99,-99,-99,-99,-99,-99,-99,...,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99
744,2002,Case Management,Female,24--26,-99,-99,MD,-99,-99,-99,...,0,0,0,0,0,0,0,0,-99,-99
745,2002,Case Management,Female,24--26,-99,-99,MD,-99,-99,-99,...,0,0,0,0,0,0,0,0,-99,-99
746,2002,Case Management,Female,24--26,-99,-99,MD,-99,-99,-99,...,0,0,0,0,0,0,0,0,-99,-99
747,2002,Case Management,Female,24--26,-99,-99,MD,-99,-99,-99,...,0,0,0,0,0,0,0,0,-99,-99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54583,2018,Case Management,Female,-99,Minor,-99,KH,0,0,-99,...,-99,-99,-99,-99,-99,-99,-99,-99,-99,KH
54582,2018,Case Management,Female,-99,Minor,-99,KH,0,0,-99,...,-99,-99,-99,-99,-99,-99,-99,-99,-99,KH
54581,2018,Case Management,Female,-99,Minor,-99,KH,0,0,-99,...,-99,-99,-99,-99,-99,-99,-99,-99,-99,KH
54588,2018,Case Management,Female,-99,Minor,-99,KH,0,0,-99,...,-99,-99,-99,-99,-99,-99,-99,-99,-99,KH
55433,2018,Case Management,Male,-99,Adult,-99,KH,0,0,-99,...,-99,-99,-99,-99,-99,-99,-99,-99,-99,KH

In [63]:
# output income dataframe to the database
little_df.to_sql(name='global_traffiking', con=engine, if_exists='append', index=False)

In [64]:
genderdf = little_df.groupby(["Gender"]).count()
genderdf

,Year Identified,Means_of_Identification,Age_Range,Age_at_Exploitaion,Age_Grooming_Process,Citizenship,Method of Control: Debt Bondage,Method of Control: Earnings Taken,Method of Control: Restricted Financial Access,Method of Control: Threats,...,Type: Hospitality Labour,Type: Illicit Activites,Type: Manufacturing,Type: Mining or Drilling,Type: Peddling,Type: Transportation,Type: Other,Type: Unspecified,Type: Multiple,Country of Exploitation
Gender,,,,,,,,,,,,,,,,,,,,,
-99,110,110,110,110,110,110,110,110,110,110,...,110,110,110,110,110,110,110,110,110,110
Female,40351,40351,40351,40351,40351,40351,40351,40351,40351,40351,...,40351,40351,40351,40351,40351,40351,40351,40351,40351,40351
Male,14444,14444,14444,14444,14444,14444,14444,14444,14444,14444,...,14444,14444,14444,14444,14444,14444,14444,14444,14444,14444
Unknown,529,529,529,529,529,529,529,529,529,529,...,529,529,529,529,529,529,529,529,529,529

In [66]:
temp_df = little_df[["Year Identified","Means_of_Identification","Gender","Age_Range","Age_at_Exploitaion","Citizenship"]]

In [77]:
#temp_df

In [76]:
# output income dataframe to the database
temp_df.to_sql(name='temp_dd', con=engine)

In [ ]:

#csv = os.path.join("All Countries data.csv")
#csv_df = pd.read_csv(csv)
#csv_df.head(10)

In [78]:
# Countries csv with codes

csv2 = os.path.join("countries_codes_and_coordinates.csv")
csv_df = pd.read_csv(csv2)
csv_df.head(10)

,Country,Alpha-2 code,Alpha-3 code,Numeric code,Latitude (average),Longitude (average)
0,Afghanistan,"""AF""","""AFG""","""4""","""33""","""65"""
1,Albania,"""AL""","""ALB""","""8""","""41""","""20"""
2,Algeria,"""DZ""","""DZA""","""12""","""28""","""3"""
3,American Samoa,"""AS""","""ASM""","""16""","""-14.3333""","""-170"""
4,Andorra,"""AD""","""AND""","""20""","""42.5""","""1.6"""
5,Angola,"""AO""","""AGO""","""24""","""-12.5""","""18.5"""
6,Anguilla,"""AI""","""AIA""","""660""","""18.25""","""-63.1667"""
7,Antarctica,"""AQ""","""ATA""","""10""","""-90""","""0"""
8,Antigua and Barbuda,"""AG""","""ATG""","""28""","""17.05""","""-61.8"""
9,Argentina,"""AR""","""ARG""","""32""","""-34""","""-64"""

In [81]:
country_df = csv_df[["Country","Alpha-2 code"]] 
country = country_df.rename(columns={"Alpha-2 code":"Country code"})
#country["Country code"].nunique()

In [82]:
for i in range(len(country)):
    #print(i)
    country["Country code"][i] = str(country["Country code"][i].replace('"',''))
    #print(type(country["Country code"][i]))

In [83]:
country

               Country Country code
0          Afghanistan           AF
1              Albania           AL
2              Algeria           DZ
3       American Samoa           AS
4              Andorra           AD
..                 ...          ...
251  Wallis and Futuna           WF
252     Western Sahara           EH
253              Yemen           YE
254             Zambia           ZM
255           Zimbabwe           ZW

[256 rows x 2 columns]

In [84]:
# Countries codes exported as csv
country.to_csv("Countries.csv",index=True, index_label= "country-id")